# Hidden Markov Model (HMM)

### Data Generation

In [1]:
# Gendata
import random as rd

n_hidden_states = 50
n_observations = 50

weathers = ["S", "N", "R"]
observation = ["H", "G"]

gen_hidden_states = [weathers[rd.randint(0, 2)] for i in range(n_hidden_states)]
gen_observations =  [observation[rd.randint(0, 1)] for i in range(n_observations)]

### Config hiden and observation values

In [2]:
hidden =      ['R', 'R', 'N', 'N', 'R', 'N', 'R', 'S', 'S', 'S', 'R', 'S', 'N', 'R', 'R', 'R', 'R', 'S', 'R', 'N', 'S', 'S', 'S', 'N', 'S', 'R', 'S', 'R', 'N', 'S', 'R', 'S', 'R', 'R', 'N', 'N', 'R', 'N', 'N', 'S', 'R', 'N', 'R', 'R', 'S', 'R', 'R', 'S', 'R', 'N']

In [4]:
observation = ['G', 'H', 'G', 'G', 'G', 'G', 'H', 'H', 'G', 'H', 'G', 'H', 'G', 'H', 'H', 'H', 'G', 'G', 'G', 'G', 'H', 'G', 'G', 'G', 'H', 'G', 'H', 'G', 'H', 'G', 'H', 'H', 'H', 'H', 'G', 'G', 'H', 'G', 'G', 'G', 'H', 'H', 'H', 'G', 'G', 'G', 'H', 'H', 'H', 'H']

Not fixed (use values from Data Generator)

In [5]:
hidden = gen_hidden_states
observation = gen_observations

### Transition Probability

In [9]:
stos=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'S':
    if hidden[i] == hidden[i+1]:
      stos=stos+1

ston=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'S':
    if hidden[i+1] == 'N':
      ston=ston+1

stor=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'S':
    if hidden[i+1] == 'R':
      stor=stor+1

stoother=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'S':
      stoother=stoother+1

print("count sunny to sunny = ",stos)
print("count sunny to normal = ",ston)
print("count sunny to rainy = ",stor)
print("count sunny to other = ",stoother)

count sunny to sunny =  3
count sunny to normal =  4
count sunny to rainy =  5
count sunny to other =  12

In [6]:
ntos=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'N':
    if hidden[i+1] == 'S':
      ntos=ntos+1 

nton=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'N':
    if hidden[i] == hidden[i+1]:
      nton=nton+1

ntor=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'N':
    if hidden[i+1] == 'R':
      ntor=ntor+1

ntoother=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'N':
      ntoother=ntoother+1

print("count normal to sunny = ",ntos)
print("count normal to normal = ",nton)
print("count normal to rainy = ",ntor)
print("count normal to other = ",ntoother)

count normal to sunny =  7
count normal to normal =  8
count normal to rainy =  3
count normal to other =  18

In [7]:
rtos=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'R':
     if hidden[i+1] == 'S':
      rtos=rtos+1 

rton=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'R':
    if hidden[i+1] == 'N':
      rton=rton+1

rtor=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'R':
     if hidden[i] == hidden[i+1]:
      rtor=rtor+1

rtoother=0;
for i in range(len(hidden)-1):
  if hidden[i] == 'R':
      rtoother=rtoother+1

print("count rainy to sunny = " ,rtos)
print("count rainy to normal = ",rton)
print("count rainy to rainy = ",rtor)
print("count rainy to other = ",rtoother)

count rainy to sunny =  2
count rainy to normal =  6
count rainy to rainy =  11
count rainy to other =  19

In [10]:
print("P(S|S)= " ,stos/stoother)
print("P(R|S)= " ,stor/stoother)
print("P(N|S)= " ,ston/stoother)

P(S|S)=  0.25
P(R|S)=  0.4166666666666667
P(N|S)=  0.3333333333333333

In [11]:
print("P(S|R)= " ,rtos/rtoother)
print("P(R|R)= " ,rtor/rtoother)
print("P(N|R)= " ,rton/rtoother)

P(S|R)=  0.10526315789473684
P(R|R)=  0.5789473684210527
P(N|R)=  0.3157894736842105

In [12]:
print("P(S|N)= " ,ntos/ntoother)
print("P(R|N)= " ,ntor/ntoother)
print("P(N|N)= " ,nton/ntoother)

P(S|N)=  0.3888888888888889
P(R|N)=  0.16666666666666666
P(N|N)=  0.4444444444444444

#### **Create Transition Matrix**

In [13]:
# Matrix
Matrix = [[stos/stoother, stor/stoother, ston/stoother], [rtos/rtoother, rtor/rtoother, rton/rtoother], [ntos/ntoother, ntor/stoother, nton/stoother]]

**Matrix as pandas**

In [14]:
import pandas as pd
df = pd.DataFrame(Matrix, columns=['Sunny','Rain','Normal'], index=['Sunny', 'Rain', 'Normal'])
df

           Sunny      Rain    Normal
Sunny   0.250000  0.416667  0.333333
Rain    0.105263  0.578947  0.315789
Normal  0.388889  0.250000  0.666667

### Emission Probability

In [15]:
sums=0
sumr=0
sumn=0

for i in range(len(observation)):
  if hidden[i] == 'S':
      sums=sums+1
for i in range(len(observation)):
  if hidden[i] == 'R':
      sumr=sumr+1
for i in range(len(observation)):
  if hidden[i] == 'N':
      sumn=sumn+1

In [16]:
sumr

19

In [17]:
htos=0
htor=0
hton=0
for i in range(len(observation)):
  if observation[i] == 'H':
     if hidden[i] == 'S':
      htos=htos+1

for i in range(len(observation)):
  if observation[i] == 'H':
     if hidden[i] == 'R':
      htor=htor+1

for i in range(len(observation)):
  if observation[i] == 'H':
     if hidden[i] == 'N':
      hton=hton+1

print("count happy to sunny = " ,htos)
print("count happy to rainy = " ,htor)
print("count happy to normal = " ,hton)

count happy to sunny =  5
count happy to rainy =  12
count happy to normal =  11

In [19]:
gtos=0
gtor=0
gton=0
for i in range(len(observation)):
  if observation[i] == 'G':
     if hidden[i] == 'S':
      gtos=gtos+1

for i in range(len(observation)):
  if observation[i] == 'G':
     if hidden[i] == 'R':
      gtor=gtor+1

for i in range(len(observation)):
  if observation[i] == 'G':
     if hidden[i] == 'N':
      gton=gton+1

print("count grumpy to sunny = " ,gtos)
print("count grumpy to rainy = " ,gtor)
print("count grumpy to normal = " ,gton)

count grumpy to sunny =  7
count grumpy to rainy =  7
count grumpy to normal =  8

In [20]:
print("P(H|R)= " ,htor/sumr)
print("P(G|R)= " ,gtor/sumr)

P(H|R)=  0.631578947368421
P(G|R)=  0.3684210526315789

In [21]:
print("P(H|S)= " ,htos/sums)
print("P(G|S)= " ,gtos/sums)

P(H|S)=  0.4166666666666667
P(G|S)=  0.5833333333333334

In [22]:
print("P(G|N)= " ,gton/sumn)
print("P(H|N)= " ,hton/sumn)

P(G|N)=  0.42105263157894735
P(H|N)=  0.5789473684210527

#### **Create Emission Matrix**

In [23]:
# Matrix
Ematrix = [[htos/stoother, gtos/stoother], [htor/rtoother, gtor/rtoother], [hton/ntoother, gton/ntoother]]

**Emission as pandas**

In [24]:
import pandas as pd
df = pd.DataFrame(Ematrix, columns=['Happy','Grumpy'], index=['Sunny', 'Rain', 'Normal'])
df

           Happy    Grumpy
Sunny   0.416667  0.583333
Rain    0.631579  0.368421
Normal  0.611111  0.444444

# Bayes theorem

In [25]:
c_s = hidden.count('S')
c_r = hidden.count('R')
c_n = hidden.count('N')
allcount1 = c_s + c_r + c_n

print("P(S) = ",c_s/allcount1)
print("P(R) = ",c_r/allcount1)
print("P(N) = ",c_n/allcount1)

P(S) =  0.24
P(R) =  0.38
P(N) =  0.38

In [26]:
c_h = observation.count('H')
c_g = observation.count('G')
allcount2 = c_s + c_r + c_n

print("P(H) = ",c_h/allcount2)
print("P(G) = ",c_g/allcount2)

P(H) =  0.56
P(G) =  0.44

In [27]:
print("P(R|H) = ",(htor / c_h))
print("P(N|H) = ",(hton / c_h))
print("P(S|H) = ",(htos / c_h))
print("Prob of given H = ",(htor / c_h)+(hton / c_h)+(htos / c_h))

print("P(R|G) = ",(gtor / c_g))
print("P(N|G) = ",(gton / c_g))
print("P(S|G) = ",(gtos / c_g))
print("Prob of given H = ",(gtor / c_g)+(gton / c_g)+(gtos / c_g))

P(R|H) =  0.42857142857142855
P(N|H) =  0.39285714285714285
P(S|H) =  0.17857142857142858
Prob of given H =  1.0
P(R|G) =  0.3181818181818182
P(N|G) =  0.36363636363636365
P(S|G) =  0.3181818181818182
Prob of given H =  1.0